* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E9DDDD;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background-color: #F1F0FE;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    color: #F1F0FE;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

textarea {
    resize: none;
    width: 100%;
}